:root {
    --colorSecondary: floralwhite;
    --colorBgSecondary: steelblue;
    --colorPrice: red;
    --colorErrorMessage: red;

    --fontDefault: Verdana, Arial, sans-serif;
    --fontHighlight: 'Book Antiqua', serif;
}