@import 'styles.css';

form, address {
    margin: 1rem;
}

fieldset {
    padding: 1rem 0;
    border: none;
    border-top: thin solid var(--colorBgSecondary);
}
legend {
    margin-left: 1rem;
    padding: 0 0.5rem;
}

label {
    display: inline-block;
    width: 8rem;
}

input[type=submit] {
    padding: 0.5rem 1rem;
    border: thin solid var(--colorBgSecondary);
    border-radius: 1rem;
    color: var(--colorSecondary);
    background-color: var(--colorBgSecondary);
}

textarea {
    width: 80%;
}

.hidden {
    display: none;
}
.errorMessage {
    color: var(--colorErrorMessage);
}