@import '_variables.css';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--fontDefault);
}

header, footer {
    font-family: var(--fontHighlight);
    color: var(--colorSecondary);
    background-color: var(--colorBgSecondary);
}

header {
    padding: 0.5rem 2rem;
}

footer {
    padding: 0.1rem;
    text-align: center;
}

nav {
    padding: 0.25rem 2rem;
    border-bottom: solid 0.2rem var(--colorBgSecondary);
    position: sticky;
    top: 0;
    background-color: var(--colorSecondary);
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}

nav li > a {
    color: var(--colorBgSecondary);
}
nav li > a:hover {
    text-decoration: underline overline;
}

section, article {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: var(--colorSecondary);
}
a:hover {
    text-decoration: underline;
}